@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

h1 {
    text-align: center;
    font-family: 'Recursive', sans-serif;
}

p {
    font-family: 'Recursive', sans-serif;
    margin: 6.02em 3.22em ;
}

p.DATE {
    font-family: 'Recursive', sans-serif;
    font-style: oblique;
}

p.TIME {
    font-family: 'Recursive', sans-serif;
    font-style: oblique;
}

p.REGARDS {
    font-family: 'Recursive', sans-serif;
    font-style: oblique;
}

ol {
    font-family: 'Recursive', sans-serif;
    margin: 6.02em 3.22em ;
}
